h2 {
	font-size: 40px;
	margin-bottom: 1.5%;
}

li {
	list-style-type: none;

}

#logo {
	width: 35%;
	max_width: 300px;
	height: auto;
	margin: 30px auto 20px auto;
	display: block;
}

.body-container {
	margin: 3% 15% 3% 15%;
}

.block-container {
	padding: 15px;
	background-color: rgba(253,250,242,255);
	border-radius: 15px;
	margin-bottom: 3%;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

#ny-la-overview {
	display: inline-grid;
	align-content: center;
	grid-template-columns: auto auto auto auto;
	margin: 0;
	gap: 2%;
}

.inline-block {
	padding: 15px;
	background-color: rgba(253,250,242,255);
	border-radius: 15px;
	margin-bottom: 3%;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

#right {
	text-align: right;
}

#ny-site-plan {
	width: 100%;
	display: block;
}

#la-site-plan {
	width: 100%;
	display: block;
}

#miro-block iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	border-radius: 20px;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

#miro-block h2 {
	margin-bottom: 0;
}

#miro-block h3 {
	margin-bottom: 1%;
	font-weight: 350;
}

#proj-schedule {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	width: 75%;
	border-radius: 20px;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

.location {
	color: #1A6DA8;
}

.features {
	font-style: italic;
	padding-bottom: 2%;
}

.features li {
	font-size: 14px;
	font-weight: 300;
}