h2 {
	font-size: 40px;
	margin-bottom: 1.5%;
}

#logo {
	width: 35%;
	max_width: 300px;
	height: auto;
	margin: 30px auto 20px auto;
	display: block;
}

.body-container {
	margin: 3% 20% 3% 20%;
}

.block-container {
	padding: 15px;
	background-color: rgba(253,250,242,255);
	border-radius: 15px;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

#proj-schedule {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	width: 75%;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}