h2 {
	font-size: 40px;
	font-style: italic;
	color: #1A6DA8;
	margin: 0;
	padding: 0;

	padding-top: 1%;
}


h3 {
	font-size: 20px;
	font-style: italic;
	color: #1A6DA8;
	margin: 0;
	padding: 0;
	font-weight: 500;

	padding-top: 0.5%;
	padding-bottom: 1%;
}

.member {
	margin: 3% 15% 3% 15%;
	padding: 15px;
	background-color: rgba(253,250,242,255);
	border-radius: 15px;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

.info {
	display: flex;
	align-items: center;
}

.name {
	color: black;
	font-style: normal;
	margin: 0;
	padding: 0;

	margin-right: 10px;
}

.school {
	color: black;
	font-style: normal;
	margin: 0;
	padding: 0;

	margin-right: 5px;
}

.bio {
	font-size: 16px;
	text-align: left;
	margin-top: 0.5%;
	padding-right: 5%;
	padding-left: 2%;
}

.headshot {
	width: 30%;
	display: inline;
	margin: 0;
	padding: 0;
	padding-right: 5px;
	border-radius: 15px;
	filter: drop-shadow(0px 6px 0px #eecbb4);
}

#logo {
	width: 35%;
	max_width: 300px;
	height: auto;
	margin: 30px auto 20px auto;
	display: block;
}

.proj-list h4 {
	font-size: 24px;
	font-weight: 450;
}

.proj-list ul {
	list-style: disc;
	padding-left: 2%;
}

.proj-list li {
	display: list-item;
	color: black;
	font-weight: 250;
}