h2 {
	font-size: 35px;
	font-style: italic;
	color: #1A6DA8;
	margin: 0;
	padding: 0;

	padding-top: 1%;
}

h3 {
	font-size: 20px;
	font-style: italic;
	color: #1A6DA8;
	margin: 0;
	padding: 0;

	padding-top: 1%;
	padding-bottom: 1%;
}

.member {
	margin: 3% 20% 3% 20%;
	
}

.info {
	display: flex;
	align-items: center;
}

.name {
	color: black;
	font-style: normal;
	margin: 0;
	padding: 0;

	margin-right: 10px;
}

.school {
	color: black;
	font-style: normal;
	margin: 0;
	padding: 0;

	margin-right: 10px;
}

.bio {
	font-size: 18px;
	text-align: left;
	margin-top: 0.5%;
	margin-right: 10%;
}

.headshot {
	width: 30%;
	display: inline;
	margin: 0;
	padding: 0;
}

#logo {
	width: 35%;
	max_width: 300px;
	height: auto;
	margin: 30px auto 20px auto;
	display: block;
}